In [64]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import random

In [20]:
url='https://naijauto.com/car-buying-and-selling/top-15-most-popular-cars-in-nigeria-868'
page=requests.get(url).text

In [21]:
parse=BeautifulSoup(page,'html.parser')

In [106]:
data=pd.DataFrame(columns=['Number','Car model'])
d=[]
for th in parse.find_all('tbody'):
    for trow in th.find_all('tr')[1:]:  
        col=trow.find_all('td')
        data=data.append({'Number':col[0].text,'Car model':col[1].text},ignore_index=True)
            #d.append(tcol.text)

In [107]:
data

   Number                      Car model
0       1                   Toyota Camry
1       2                 Toyota Corolla
2       3              Toyota Highlander
3       4                  Toyota Sienna
4       5                   Honda Accord
5       6                  Toyota Avalon
6       7                    Honda Pilot
7       8                      Ford Edge
8       9  Land Rover Range Rover Sports
9      10                   Toyota Prado
10     11                  Ford Explorer
11     12                    Lexus RX350
12     13                Volkswagen Golf
13     14                        Kia Rio
14     15          Mercedes-Benz G-Class

## Palindrome

### Scrape data from `Cars.com`

In [153]:
website='https://www.cars.com/shopping/results/?page=1&page_size=20&dealer_id=&keyword=&list_price_max=&list_price_min=&makes[]=mercedes_benz&maximum_distance=all&mileage_max=&sort=best_match_desc&stock_type=cpo&year_max=&year_min=&zip='

In [154]:
request=requests.get(website)

In [155]:
soup=BeautifulSoup(request.text,'html.parser')

In [156]:
## to select all the 20 entries in a page
page_result=soup.find_all('div',{'class':'vehicle-card'})

In [222]:
# to get order details
web2=page_result[1].find('a',{'class':'vehicle-card-visited-tracking-link'})['href']
car_details='https://www.cars.com' + web2
request2=requests.get(car_details)
soup2=BeautifulSoup(request2.text,'html5lib')

In [223]:
#consumer reviews
soup2.find('div',{'class':'sds-rating sds-rating--big'}).find('span',{'class':"sds-rating__count"}).text

'4.6'

In [59]:
soup2.find('div',{'class':'sds-rating sds-rating--big'}).find('a',{'class':'sds-rating__link sds-button-link'}).text

'(72 reviews)'

In [41]:
x=soup2.find('section',{'class':"sds-page-section basics-section"}).find('dl',{'class':'fancy-description-list'})

In [48]:
x.find_all('dd')[1]

In [85]:
## car name
car_name=[]
mileage=[]
price=[]
dealer_name=[]
ratings=[]
reviews=[]
consumer_review=[]
review_num=[]
Ext_color=[]
int_color=[]
drive_train=[]
fuel_type=[]
transmission=[]
engine=[]


cars=['mercedes_benz','toyota','ford']

for car in cars:
    #number of pages to parse ,k
    for page in random.choices(range(10),k=5):
        website='https://www.cars.com/shopping/results/?page='+str(page)+'&page_size=20&dealer_id=&keyword='+\
                 '&list_price_max=&list_price_min=&makes[]='+car+'&maximum_distance=all&mileage_max=&'+\
                 'sort=best_match_desc&stock_type=cpo&year_max=&year_min=&zip='
        request=requests.get(website)
        soup=BeautifulSoup(request.text,'html.parser')
        page_result=soup.find_all('div',{'class':'vehicle-card'})
    
        for result in page_result:
            try:
                car_name.append(result.find('h2',attrs={'class':'title'}).text)
            except:
                car_name.append(np.NaN)
    
            try:
                mileage.append(result.find('div',attrs={'class':'mileage'}).text)
            except:
                mileage.append(np.NaN)
        
            try:
                price.append(result.find('span',attrs={'class':'primary-price'}).text)
            except:
                price.append(np.NaN)
    
            try:
                dealer_name.append(result.find('div',attrs={'class':'dealer-name'}).text.strip())
            except:
                dealer_name.append(np.NaN)
    
            try:
                ratings.append(result.find('span',attrs={'class':'sds-rating__count'}).text)
            except:
                ratings.append(np.NaN)
    
            try:
                reviews.append(result.find('span',attrs={'class':'sds-rating__link'}).text)
            except:
                reviews.append(np.NaN)
            
        
            ##1
            web2=result.find('a',{'class':'vehicle-card-visited-tracking-link'})['href']
            car_details='https://www.cars.com' + web2
            request2=requests.get(car_details)
            soup2=BeautifulSoup(request2.text,'html5lib')

            try:
                consumer_review.append(soup2.find('div',{'class':'sds-rating sds-rating--big'}).\
                                   find('span',{'class':"sds-rating__count"}).text)
                review_num.append(soup2.find('div',{'class':'sds-rating sds-rating--big'}).\
                              find('a',{'class':'sds-rating__link sds-button-link'}).text)
            except:
                consumer_review.append(np.NaN)
                review_num.append(np.NaN)
            
    
            basic_data=soup2.find('section',{'class':"sds-page-section basics-section"}).\
                              find('dl',{'class':'fancy-description-list'})
            try:
                Ext_color.append(basic_data.find_all('dd')[0].text)
                int_color.append(basic_data.find_all('dd')[1].text)
                drive_train.append(basic_data.find_all('dd')[2].text)
                fuel_type.append(basic_data.find_all('dd')[4].text)
                transmission.append(basic_data.find_all('dd')[5].text)
                engine.append(basic_data.find_all('dd')[6].text)
            except:
                Ext_color.append(np.NaN)
                int_color.append(np.NaN)
                drive_train.append(np.NaN)
                fuel_type.append(np.NaN)
                transmission.append(np.NaN)
                engine.append(np.NaN)

In [86]:
data=pd.DataFrame({'Car_name':car_name,'mileage':mileage,'dealer_name':dealer_name,'Service_ratings':ratings,'Service_reviews':reviews,\
                   'consumer_ratings':consumer_review,'consumer_reviews':review_num,'price':price,'Ext_color':Ext_color,\
                   'Int_color':int_color,'drive_train':drive_train,'fuel_type':fuel_type,'transmission':transmission,'engine':engine})
data=data.dropna().reset_index(drop=True)

In [87]:
#data cleaning

data['mileage']=data['mileage'].str.strip(' mi.').str.replace(',','').astype(int)
data['price']=data['price'].str.strip('$').str.replace(',','').astype(int)
data['Service_reviews']=data['Service_reviews'].str.strip('(').str.strip(' reviews)').str.replace(',','').astype(int)
data['consumer_reviews']=data['consumer_reviews'].str.strip('(').str.strip(' reviews)').str.replace(',','').astype(int)
data['Service_ratings']=data['Service_ratings'].astype(float)

In [88]:
data

,Car_name,mileage,dealer_name,Service_ratings,Service_reviews,consumer_ratings,consumer_reviews,price,Ext_color,Int_color,drive_train,fuel_type,transmission,engine
0,2021 Mercedes-Benz GLB 250 Base,12296,Mercedes-Benz of South Orlando,4.7,1206,4.5,9,55177,Mountain Gray Metallic,Black,Front-wheel Drive,Gasoline,8-Speed Automatic with Auto-Shift,2.0L I4 16V GDI DOHC Turbo
1,2021 Mercedes-Benz GLA 250 Base 4MATIC,19463,Mercedes-Benz of Wesley Chapel,4.5,569,4.9,19,42699,Metallic,–,All-wheel Drive,Gasoline,8-Speed Automatic with Auto-Shift,2.0L I4 16V GDI DOHC Turbo
2,2017 Mercedes-Benz E-Class E 300,30532,Bourbonnais Motorcars,4.5,23,4.8,79,37975,Black,Black,All-wheel Drive,Gasoline,9-Speed Automatic,2.0L I4 16V GDI DOHC Turbo
3,2019 Mercedes-Benz C-Class C 300 4MATIC,14894,Mercedes-Benz of Chicago,4.7,1158,4.8,40,39994,Iridium Silver Metallic,Black,All-wheel Drive,Gasoline,9-Speed Automatic,2.0L I4 16V GDI DOHC Turbo
4,2020 Mercedes-Benz E-Class E 450 4MATIC,16352,Mercedes-Benz of Atlanta Northeast,4.8,1852,5.0,10,85846,Selenite Gray Metallic,Macchiato Beige,All-wheel Drive,Gasoline,9-Speed Automatic,3.0L V6 24V GDI DOHC Twin Turbo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
290,2020 Ford Explorer Limited,55971,Kendall Ford of Eugene,4.7,1064,4.5,248,42981,Agate Black Metallic,–,Four-wheel Drive,Gasoline,10-Speed Automatic,2.3L I4 16V GDI DOHC Turbo
291,2019 Ford Edge SEL,57832,Banner Ford of Monroe,3.4,7,4.7,193,28598,Magnetic Metallic,Ebony,Front-wheel Drive,Gasoline,8-Speed Automatic,4 Cylinder Engine
292,2018 Ford F-150 XLT,31770,Apple Ford Lincoln Apple Valley,4.7,1606,4.8,814,38999,Ruby Red,Medium Earth Gray,Four-wheel Drive,Gasoline,10-Speed Automatic,2.7L V6 24V PDI DOHC Twin Turbo
293,2019 Ford Fusion Hybrid SE,25774,Cutter Ford,4.7,858,4.8,50,27849,Agate Black,Ebony,Front-wheel Drive,Hybrid,Automatic CVT,2.0L I4 16V MPFI DOHC Hybrid
294,2018 Ford F-150 XLT,18639,San Tan Ford,4.7,1925,4.8,814,46592,Lead Foot,Black,Four-wheel Drive,Gasoline,10-Speed Automatic,3.5L V6 24V PDI DOHC Twin Turbo

In [89]:
data['engine'].value_counts()

2.0L I4 16V GDI DOHC Turbo                        88
2.5L I4 16V PDI DOHC                              35
3.5L V6 24V PDI DOHC                              17
1.5L I4 16V GDI DOHC Turbo                        17
3.0L V6 24V GDI DOHC Twin Turbo                   14
1.8L I4 16V MPFI DOHC                             10
1.5L I3 12V GDI DOHC Turbo                         9
2.0L I4 16V GDI DOHC Turbo Flexible Fuel           9
3.5L V6 24V PDI DOHC Twin Turbo                    9
2.7L V6 24V PDI DOHC Twin Turbo                    8
4.0L V6 24V MPFI DOHC                              6
5.7L V8 32V MPFI DOHC                              6
2.3L I4 16V GDI DOHC Turbo                         5
6.7L V8 32V DDI OHV Turbo Diesel                   4
2.7L V6 24V GDI DOHC Twin Turbo                    4
3.0L I6 24V GDI DOHC Turbo                         4
2.5L I4 16V MPFI DOHC                              4
4.0L V8 32V GDI DOHC Twin Turbo                    4
4.0L                                               3
3.5L V6 24V PDI DOHC Twin Turbo Hybrid             3
5.0L V8 32V PDI DOHC                               3
1.5L I3 12V PDI DOHC Turbo                         2
2.0L I4 16V MPFI DOHC Hybrid                       2
Regular Unleaded 3.5 L EcoBoost                    2
4 Cylinder Engine                                  2
Regular Unleaded 2.7 L EcoBoost                    2
2.0L I4 16V GDI DOHC Turbo Hybrid                  2
2.0L H4 16V GDI DOHC Turbo                         2
3.6L V6 24V GDI DOHC                               2
3.5L V6 24V MPFI DOHC                              2
3.0L V6 24V DI DOHC Turbo Diesel                   1
3.3L V6 24V PDI DOHC Flexible Fuel                 1
1.0L I3 12V GDI DOHC Turbo                         1
Regular Unleaded V-8 5.7 L/346                     1
–                                                  1
2.5L I4 16V PDI DOHC Hybrid                        1
5.0L V8                                            1
1.8L I4 16V MPFI DOHC Hybrid                       1
2.4L I4 16V MPFI SOHC                              1
3.8L V6 24V GDI DOHC                               1
2.0L I4 16V PDI DOHC                               1
3.5L V6 24V GDI SOHC                               1
Engine: Lambda II 3.8L GDI DOHC V6 w/Dual CVVT     1
6.4L V8 16V MPFI OHV                               1
3.5L V6 24V GDI DOHC Twin Turbo                    1
Name: engine, dtype: int64