In [37]:
import pandas as pd
import numpy as np
import random
import matplotlib.pyplot as plt
import seaborn as sb

In [137]:
# import combined data
car_data=pd.read_csv('combined_car_data.csv')

In [138]:
#drop unnamed column
car_data.drop('Unnamed: 0',axis=1,inplace=True)

In [139]:
car_data=car_data.dropna().reset_index(drop=True)
car_data['mileage']=car_data['mileage'].str.strip(' mi.').str.replace(',','').astype(int)
car_data['price']=car_data['price'].str.strip('$').str.replace(',','').astype(int)
car_data['Service_reviews']=car_data['Service_reviews'].str.strip('(').str.strip(' reviews)').str.replace(',','').astype(int)
car_data['consumer_reviews']=car_data['consumer_reviews'].str.strip('(').str.strip(' reviews)').str.replace(',','').astype(int)
car_data['Service_ratings']=car_data['Service_ratings'].astype(float)
car_data['Ext_color']=car_data['Ext_color'].str.strip()
car_data['Int_color']=car_data['Int_color'].str.strip()
car_data['drive_train']=car_data['drive_train'].str.strip()
car_data['fuel_type']=car_data['fuel_type'].str.strip()
car_data['transmission']=car_data['transmission'].str.strip()
car_data['engine']=car_data['engine'].str.strip()

In [140]:
# Check if there are null values
car_data.isna().sum()

Car_name            0
mileage             0
dealer_name         0
Service_ratings     0
Service_reviews     0
consumer_ratings    0
consumer_reviews    0
price               0
Ext_color           0
Int_color           0
drive_train         0
fuel_type           0
transmission        0
engine              0
dtype: int64

In [142]:
# Taking a look at some feature
car_data['drive_train'].value_counts()

All-wheel Drive      414
Front-wheel Drive    244
Rear-wheel Drive      96
Four-wheel Drive      73
â€“                      3
AWD                    1
FWD                    1
RWD                    1
Name: drive_train, dtype: int64

In [143]:
car_data['drive_train'].replace(['All-wheel Drive','Four-wheel Drive'], 'AWD',inplace=True)
car_data['drive_train'].replace(['Front-wheel Drive'], 'FWD',inplace=True)
car_data['drive_train'].replace(['Rear-wheel Drive'], 'RWD',inplace=True)
car_data=car_data[car_data['drive_train'].isin(["AWD","FWD","RWD"])]

In [145]:
car_data['drive_train'].value_counts()

AWD    488
FWD    245
RWD     97
Name: drive_train, dtype: int64

In [149]:
car_data.head(2)

,Car_name,mileage,dealer_name,Service_ratings,Service_reviews,consumer_ratings,consumer_reviews,price,Ext_color,Int_color,drive_train,fuel_type,transmission,engine
0,2019 Mercedes-Benz GLS 450 Base 4MATIC,29800,Mercedes-Benz of Fort Washington,4.6,2361,5.0,10,59463,Polar White,Espresso Brown,AWD,Gasoline,9-Speed Automatic,3.0L V6 24V GDI DOHC Twin Turbo
1,2018 Mercedes-Benz AMG GLE 43 Coupe 4MATIC,36219,RBM of Atlanta,4.9,1013,4.9,14,66812,Gray Metallic,Saddle Brown / Black,AWD,Gasoline,9-Speed Automatic,3.0L V6 24V GDI DOHC Twin Turbo